 <div class="table-listado-stock col-md-11">

  <div class="form-group row-stock-controles-filtrado form-inline">

      <%= select_tag :rubro, options_from_collection_for_select(@rubros, :id, :nombre), 
        :include_blank => 'Filtrar por RUBRO' , 
        class: 'form-control col-md-2 search-producto-movido form-inline select-stock filtro-rubro-listado-stock'%>

      <%= select_tag :tipo_movimiento, raw("<option selected='selected'>TODOS los movimientos</option>
                                            <option>ENTRADA y SALIDA</option>
                             							  <option>solo ENTRADA</option>
                             							  <option>solo SALIDA</option>
                             							  <option>solo AJUSTE</option>") , 
                                            :placeholder => "Tipo movimiento" , class: 'form-inline col-md-2 form-control search-producto-movido filtro-movimiento-listado-stock'%>

       <%= select_tag :proveedor_id, options_from_collection_for_select(@proveedores, :id, :nombre), 
        :placeholder => 'Filtrar por PROVEEDOR' , 
        class: 'form-control col-md-2 search-producto-movido form-inline select-stock filtro-proveedor-listado-stock' %>
       
      <%= text_field :fecha_desde,  nil, :class => "form-control form-inline col-md-2 search-producto-movido filtro-fechadesde-listado-stock", :placeholder => "desde FECHA...", :id => "fecha_desde"   %>

      <%= text_field :fecha_hasta,  nil, :class => "form-control form-inline col-md-2 search-producto-movido filtro-fechahasta-listado-stock", :placeholder => "HASTA fecha...", :id => "fecha_hasta"   %>
 
      <%= hidden_field :tipo_listado , class: "stock-tipo-listado" %>

  </div>

<table class="table table-striped" >
 	<tr class=>
		  <th style="width: 5%">Interno</th>
		  <th style="width: 15%">Codigo</th>
		  <th style="width: 35%">Descripcion</th>
 		  <th style="width: 10%">Tipo</th>
  		  <th style="width: 15%">Proveedor</th>
  		  <th style="width: 5%">Ref.</th>
   		  <th style="width: 25%">Fecha</th>
		  <th style="width: 10%">Cantidad</th>
	</tr>
	<tbody class="table-listado-stock-target">
	</tbody>
</table>

</div> 


<script type="text/javascript">

     $(".search-producto-movido").
        change(function() {
        
           $.ajax({
              url: '/listado_stocks/generar_listado',
              data: {tipo_movimiento: $(".filtro-movimiento-listado-stock").val(),
          					 proveedor_id: $(".filtro-proveedor-listado-stock").val(),
           					 fecha_desde: $(".filtro-fechadesde-listado-stock").val(),
           					 fecha_hasta: $(".filtro-fechahasta-listado-stock").val(),
                     rubro: $(".filtro-rubro-listado-stock").val(),
                     tipo_listado: $('.stock-tipo-listado').val()
                     
                  }
           });
       });

</script>