   <% @articulos.each do |articulo| %>
      <tr class="row-<%=articulo.interno%>">
      <td><%= articulo.interno %></td>
      <td><%= articulo.codigo %></td>
      <td><%= articulo.descripcion %></td>
      <td><%= articulo.rubro.nombre[0..1] %></td>
      <td><%= articulo.precio.round(2) %></td>
      <td><%= articulo.fecha_precio.strftime("%m-%Y") %></td>
      <td><%= articulo.ubicacion %></td>
      <td>
      <%= link_to "Modificar", edit_articulo_path(articulo), remote: true, class: 'btn btn-modificar btn-sm'%>
      </td>
      </tr>
   <% end %>
