<div class="form-inline select-procesar-stock" >
	 <%= select_tag :proveedor, options_from_collection_for_select(@proveedores, :id, :nombre), include_blank: 'Seleccione PROVEEDOR', class: 'form-control select-stock' %>
	<%= link_to "Procesar entrada", '/movimiento_stocks/procesar_entrada', method: :post, movimiento_stock: @movimiento_stock, remote: true, class: 'btn btn-procesar-stock btn-success procesar-stock btn-lg '%>
</div>

<div class="table-stock">
<%= nested_form_for @movimiento_stock do |m| %>
<table class="table table-striped" >
 	<tr class=>
		  <th style="width: 5%">Interno</th>
		  <th style="width: 25%">Codigo</th>
		  <th style="width: 40%">Descripcion</th>
		  <th style="width: 24%">Cantidad</th>
	</tr>
</table>
	<%= m.fields_for :producto_movidos, :wrapper => false do |movido_form| %>
		<div class="row-stock fields  row-parent">
			<div class="row-stock col-md-1 row-stock-interno">
				<%= movido_form.text_field :interno, class: "form-control  input-stock stock-search-interno"%>
			</div>
			<div class="row-stock   col-md-3 row-stock-codigo">
		 		<%= movido_form.text_field :codigo, disabled: true, class: "form-control input-stock-codigo stock-search-codigo" %>
			</div>
			<div class="row-stock  col-md-5 row-stock-descripcion">
				<%= movido_form.text_field :descripcion, disabled: true, class: " form-control input-stock stock-search-descripcion"  %>
			</div>
			<div class="row-stock  col-md-1 row-stock-cantidad">
				<%= movido_form.text_field :cantidad, class: "form-control input-stock"  %>
			</div>
			<div class="row-stock  col-md-1 row-boton-borrar">
				<%= movido_form.link_to_remove "Borrar", class: "btn  btn-borrar-movido btn-danger" %> 
			</div>
		</div>
	<% end %>
			<p> 
			<%= m.link_to_add "Agregar articulo", :producto_movidos,  class: "btn boton-agregar-articulo btn-modificar" %>
			</p>
			
	<% end %>
</div> 


<script type="text/javascript">


</script>