  <nav  class="navbar navbar navbar-dark bg-dark">    
      		<li class="active">
          		<a style="pointer-events: none" href="">Editar articulo</a>
      		</li>
 			<%= button_to "Volver a la búsqueda", '/articulos', :method => :get, :class => "btn btn-nuevo btn-sm btn-success" %>
  </nav>


	<div class="row">
	  <div class="col-md-8 offset-md-1">
	    <%= form_for(@articulo) do |a| %>

      	<div class="form-control-inline ">
	      	<%= a.label :Interno, :class => "col-sm-2" %>
	  		<%= a.text_field :interno, :disabled => true, :class => "col-md-2"  %>
  		</div>
  		<div class="form-control-inline">
			<%= a.label :Codigo, :class => "col-sm-2" %>
  			<%= a.text_field :codigo, :class => "col-md-3" %>
  		</div>
  		<div class="form-control-inline">
			<%= a.label :Descripción, :class => "col-sm-2" %>
  			<%= a.text_field :descripcion, :class => "col-md-6" %>
  		</div>	
  		<div class="form-control-inline">
			<%= a.label :Rubro, :class => "col-sm-2" %>
  			<%= a.select :rubro_id, options_from_collection_for_select(@rubros, :id, :nombre, 
  			 selected = a.object.rubro_id), class: 'col-md-6' %>
		</div>
		<div class="form-control-inline text_costo">
			<%= a.label :Costo, :class => "col-sm-2" %>
  			<%= a.text_field :costo, :class => "col-md-3" %>
		</div>
		<div class="form-control-inline text_ganancia">
			<%= a.label :Ganancia, :class => "col-sm-2" %>
  			<%= a.text_field :ganancia, :class => "col-md-3" %>
		</div>
		<div class="form-control-inline text_precio">
			<%= a.label :'precio', "Precio IVA incl.", :class => "col-sm-2" %>
  			<%= a.text_field :precio, :class => "col-md-4" %>
		</div>
		<div class="form-control-inline">
			<%= a.label :'Fecha precio', :class => "col-sm-2" %>
  			<%= a.text_field :fecha_precio, :class => "col-md-3", value: @articulo.fecha_precio.strftime("%d-%m-%Y") %>
		</div>
		<div class="form-control-inline">
			<%= a.label :Proveedor, :class => "col-sm-2" %>
  			<%= a.select :proveedor_id, options_from_collection_for_select(@proveedores, :id, :nombre, selected = a.object.proveedor_id), class: 'col-md-6' %>
		</div>
	    <%= a.submit "Guardar cambios", class: "btn btn-sm btn-edit"%>
		<% end %>
 	</div>
 </div>

  <script type="text/javascript">

    $(".text_costo").keyup(function() {
		$("#articulo_precio").val($("#articulo_costo").val() * $("#articulo_ganancia").val() * 1.21)
		})

    $(".text_ganancia").keyup(function() {
    	$("#articulo_precio").val($("#articulo_costo").val() * $("#articulo_ganancia").val() * 1.21)
		})
  </script>