  <nav class="navbar navbar navbar-dark bg-dark">    
      <a class='index-link inicio-nav' href="/articulos">Articulos</a>
  </ol>

<div class="btn-group">
  <button type="button" class="btn btn-mas-herramientas btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Más herramientas
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="/rubros">Gestión de RUBROS</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/proveedores">Gestión de PROVEEDORES</a>
  </div>
</div>


  </nav>

<div class="form-group mb-0 mt-10 row inputRow">
      <div class="form-group col-md-2">
        <input class="form-control search_articulos" type="text" placeholder="...por INTERNO" id="interno" autocomplete="off">
      </div>
      <div class="form-group col-md-2">
       <input class="form-control search_articulos" type="text" placeholder="...por CÓDIGO" id="codigo" autocomplete="off">
      </div>
      <div class="form-group col-md-3">
       <input class="form-control search_articulos" type="text" placeholder="...por DESCRIPCIÓN" id="descripcion" autocomplete="off">
      </div>
     <div class="col-md-2">
             <%= select_tag :rubro, options_from_collection_for_select(@rubros, :id, :nombre), include_blank: '...por RUBRO', class: 'form-control search_rubro' %>
     </div>
      <div class="form-group col-md-1">
      <%= button_to "Nueva búsqueda", '/articulos', :method => :get, :class => "btn btn-nueva-busqueda btn-sm btn-success" %>
     </div>
     <div class="form-group col-md-1">
      <%= link_to "Nuevo articulo", new_articulo_path, remote: true, class: 'btn btn-newarticulo btn-sm btn-success'%>
     </div>
</div>
<div class="form-group mt-0 mb-0 row checkRow">
      <div class="form-group col-sm-3">
      </div>
      <div class="form-group col-sm-2">
        <%= check_box_tag 'checkCodigo', value = "1", checked = false, class: 'form-check-input checkCodigo' %>
        <label class="label-check">si INCLUYE Código...</label>
      </div>
      <div class="form-group col-sm-3">
        <%= check_box_tag 'checkDescripcion', value = "1", checked = false, class: 'form-check-input checkDescripcion'%>
         <label class="label-check">si INCLUYE Descripción...</label>
      </div> 
</div>

 <table class="table table-striped">
    <tr class=>
      <th style="width: 5%">Interno</th>
	    <th style="width: 15%">Codigo</th>
      <th style="width: 35%">Descripción</th>
      <th style="width: 6%">Rubro</th>
      <th style="width: 9%">Precio</th>
      <th style="width: 9%">Fecha $</th>
      <th style="width: 7%">Ubicación</th>
      <th style="width: 9%"></th>
    </tr>
    
    <tbody class="articulo_tbody_content">
         <%= render partial: 'index_content' %>
    </tbody>
</table>


  <script type="text/javascript">

       $(".search_articulos").change(function() {
        
           $.ajax({
              url: '/articulos/search',
              data: {interno: $("#interno").val(),
                     codigo:  $("#codigo").val(),
                     descripcion: $("#descripcion").val(),
                     rubro: $("#rubro").val(),
                     checkCodigo: $("#checkCodigo").is(':checked'),
                     checkDescripcion: $("#checkDescripcion").is(':checked')
                   }
           });
       });

        $(".search_rubro").change(function() {
              $.ajax({
              url: '/articulos/search',
              data: {interno: $("#interno").val(),
                     codigo:  $("#codigo").val(),
                     descripcion: $("#descripcion").val(),
                     rubro: $("#rubro").val(),
                     checkCodigo: $("#checkCodigo").is(':checked'),
                     checkDescripcion: $("#checkDescripcion").is(':checked')
                   }
           });
       });

        $(".checkDescripcion").change(function() {
              $.ajax({
              url: '/articulos/search',
              data: {interno: $("#interno").val(),
                     codigo:  $("#codigo").val(),
                     descripcion: $("#descripcion").val(),
                     rubro: $("#rubro").val(),
                     checkCodigo: $("#checkCodigo").is(':checked'),
                     checkDescripcion: $("#checkDescripcion").is(':checked')
                   }
           });
       });

       $(".checkCodigo").change(function() {
              $.ajax({
              url: '/articulos/search',
              data: {interno: $("#interno").val(),
                     codigo:  $("#codigo").val(),
                     descripcion: $("#descripcion").val(),
                     rubro: $("#rubro").val(),
                     checkCodigo: $("#checkCodigo").is(':checked'),
                     checkDescripcion: $("#checkDescripcion").is(':checked')
                   }
           });
       });

</script>