  <nav  class="navbar navbar navbar-dark bg-dark">    
        <li class="active" >
          <a href="/articulos">Articulos</a>
        </li>
      </ol>
  </nav>

<div class="form-group mb-0 mt-10 row inputRow">
      <div class="form-group col-md-2">
        <input class="form-control search_articulos" type="text" placeholder="Buscar por INTERNO" id="interno" autocomplete="off">
      </div>
      <div class="form-group col-md-2">
       <input class="form-control search_articulos" type="text" placeholder="Buscar por CÓDIGO" id="codigo" autocomplete="off">
      </div>
      <div class="form-group col-md-3">
       <input class="form-control search_articulos" type="text" placeholder="Buscar por DESCRIPCIÓN" id="descripcion" autocomplete="off">
      </div>
     <div class="col-md-2">
             <%= select_tag :rubro, options_from_collection_for_select(@rubros, :id, :nombre), include_blank: 'Filtrar por RUBROS', class: 'form-control search_rubro' %>
     </div>
      <div class="form-group col-md-1">
      <%= button_to "Nueva búsqueda", '/articulos', :method => :get, :class => "btn btn-nuevo btn-sm btn-success" %>
     </div>
     <div class="form-group col-md-1">
      <%= button_to "Nuevo articulo", '/articulos/new', :method => :get, :class => "btn btn-newarticulo btn-sm btn-success" %>
     </div>
</div>
<div class="form-group mt-0 mb-0 row checkRow">
      <div class="form-group col-sm-3">
      </div>
      <div class="form-group col-sm-2">
        <%= check_box_tag 'checkCodigo', value = "1", checked = false, class: 'form-check-input checkCodigo' %>
        <label>si INCLUYE Código...</label>
      </div>
      <div class="form-group col-sm-3">
        <%= check_box_tag 'checkDescripcion', value = "1", checked = false, class: 'form-check-input checkDescripcion'%>
         <label>si INCLUYE Descripción...</label>
      </div> 
</div>

 <table class="table table-striped">
    <tr>
      <th style="width: 5%">Interno</th>
	    <th style="width: 15%">Codigo</th>
      <th style="width: 35%">Descripcion</th>
      <th style="width: 10%">Rubro</th>
      <th style="width: 10%">Precio</th>
      <th style="width: 10%">Ubicación</th>
      <th style="width: 10%"></th>
    </tr>
    
    <tbody class="articulo_tbody_content">
         <%= render partial: 'index_content' %>
    </tbody>
</table>


  <script type="text/javascript">

       $(".search_articulos").change(function() {
        
           $.ajax({
              url: '/articulos/search',
                     data: {interno: $("#interno").val(),
                     codigo:  $("#codigo").val(),
                     descripcion: $("#descripcion").val(),
                     rubro: $("#rubro").val(),
                     checkCodigo: $("#checkCodigo").is(':checked'),
                     checkDescripcion: $("#checkDescripcion").is(':checked')
                   }
           });
       });

        $(".search_rubro").change(function() {
              $.ajax({
              url: '/articulos/search',
              data: {interno: $("#interno").val(),
                     codigo:  $("#codigo").val(),
                     descripcion: $("#descripcion").val(),
                     rubro: $("#rubro").val(),
                     checkCodigo: $("#checkCodigo").is(':checked'),
                     checkDescripcion: $("#checkDescripcion").is(':checked')
                   }
           });
       });


  </script>